[submodule "Plugins/Modio"]
	path = Plugins/Modio
	url = https://github.com/modio/modio-ue
[submodule "Plugins/ModioComponentUI"]
	path = Plugins/ModioComponentUI
	url = https://github.com/modio/modio-ue-component-ui
[submodule "Plugins/ModioUGC"]
	path = Plugins/ModioUGC
	url = https://github.com/modio/modio-ue-modiougc
